<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Parking Spots</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/mainpage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
<link  href="https://unpkg.com/leaflet-geosearch@latest/assets/css/leaflet.css" rel="stylesheet" />
<script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>
    
    
</head>
<!---->
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <!-- **** Header Area Start **** -->
    <header class="header-area">
        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-6">
                        <div class="top-header-content">
                            <a href="#"><i class="icon_mail"></i> <span>ACAM Team</span></a>
                          
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="top-header-content">
                            <!-- Top Social Area -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header Area End -->

        <!-- Main Header Start -->
        <div class="main-header-area animated">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="rehomesNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html"><img src="../static/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="index.html">Home</a></li>
                                    
                                    <li><a href="data.html">Data</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    
                                </ul>

                                
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- **** Header Area End **** -->

    <!-- **** Welcome Maps Area Start **** -->
    <div class="welcome-area wow fadeInUp" data-wow-delay="200ms">
            
        <div id='map1'style='width: 100%; height:530px;'>
        
       
            
        </div>
    </div>
    <!-- **** Welcome Maps Area End **** -->

    <!-- **** Location Search Form Area **** -->
    <div class="rehomes-search-form-area wow fadeInUp" data-wow-delay="200ms">
        <div class="container">
            <div class="rehomes-search-form">
                    <div class="form-group">
                            
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-10">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <input name="location" id="location" class="form-control" type = "text" placeholder="Location">
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                        
                                                <input name="location" id="date" class="form-control" type = "text" placeholder="Date">
                                            
                                </div>
                            </div>
                            <div class = "row">
                                <div class="col-12 col-md-6 col-lg-3">
                                        
                                                <input name="location" id="fine_type" class="form-control" type = "text" placeholder="Ticket Type">
                                            
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                        <input name="location" id="time" class="form-control" type = "text" placeholder="Time">
                                </div>
                            </div>
                            </div>
                        
                        <div class="col-12 col-lg-2">
                            <button type="submit" class="btn rehomes-search-btn">Search</button>
                        </div>
                    </div>
                    
                </form>
                </div>
            </div>
        </div>
    </div>
    <!-- **** Location Search Form Area **** -->

    <!-- **** Sale area Start **** -->
   
    <!-- **** Sale Area End **** -->

    <!-- **** Choose Us Area Start **** -->
    <section class="rehomes-choose-us-area section-padding-100-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                        <h2>3 Useful Piecharts</h2>
                        <p>Showing the distribution of fines by type, location and time</p>
                    </div>
                </div>

                <!-- Single choose us content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div id ="piechart1" class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                        <!-- Choose us Icon -->
                        
                    </div>
                </div>

                <!-- Single choose us content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div id="piechart2" class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                      
                    </div>
                </div>

                <!-- Single choose us content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div id="piechart3" class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                        
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- **** Choose Us Area End **** -->

       

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="../static/js/popper.min.js"></script>
    <!-- Bootstrap -->
<!--    <script src="static/js/bootstrap.min.js"></script>-->
    <!-- All Plugins -->
    <script src="../static/js/rehomes.bundle.js"></script>
    <!-- Active -->
    <script src="../static/js/default-assets/active.js"></script>
    <script src="../static/js/static.js"></script>
</body>

</html>

